.App_logo {
    animation: App-logo-spin infinite 1s linear;
    height: 30vmin;
    pointer-events: none;
  }

  .App_link {
    color: #fa923f;
  }

  .App_link:hover {
    color:  #f8dec8;
    font-size: calc(10px + 3vmin);
  }

  @keyframes App-logo-spin {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(0);
    }

    100% {
      transform: rotate(360deg) scale(1);
    }
  }
 