.App_link {
  color: #61dafb;
 
}

.App_link:hover {
  color: #d7f6ff;
  /* font-size: calc(10px + 3vmin); */
  display: inline-block;
  transform: scale(1.2);
}

.link {
  color: #fb6161;
  font-size: calc(15px + 5vmin);
  text-decoration:none;
}

.link:hover {
  color: #fdc5c5;
  /* font-size: calc(15px + 7vmin); */
  display: inline-block;
  transform: scale(1.2);
}


.start {
  margin-top: 27px;
}

.table{
  margin-left:auto; 
  margin-right:auto;
  }


